
body {

  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 800px;
  background-color: white;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 100%;
  border: 3px solid black;

  box-shadow: 0 9px 18px 8px;

}

html {

  background-image: url("../images/bats.gif");

}

header {

  background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);

  background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);

  background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);

  background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);

  padding: 15px;

  border-bottom: 2px solid black;

}

header img {

  float: left;

  padding-right: 15px;

}

header h2 {

  font-size: 250%;

}

header h3 {

  font-size: 150%;

}

h1, h2, h3, p {

  margin: 0px;

  padding: 0px;

}

aside {
  width: 160px;
  float:left;
  margin: 0 30px 400px -30px;
  line-height: 125%;

}

main li>a[href] { font-weight: bold;
  color: black;
  text-decoration: none;
}

main {
  padding: 20px 25px 25px;
}

main h1 {

  font-size: 150%;

  margin-bottom: .5em;

}

main h1:first-letter{
  font-size: 200%
}

main h2 {

  font-size: 125%;

  margin: .9em 0 .5em 0;

}

main h3 {

  font-size: 125%;

  margin-bottom: .5em;

}

main p {

  margin-bottom: .5em;
}



#nav_list ul li {
  margin-bottom:.5em;
  border: 2px double black;
  list-style-type: none;
  background-color: orange;
  height: 45px;
  display:block;
}
#nav_list ul li a {

  display:block;
  text-decoration: none;
  padding: 1em 0 1em 10px;
}
#nav_list ul li:hover > ul {
  display:block;
}

#nav_menu ul li:hover > ul {
  display:block;
}
main>a[href]  {
  font-weight: bold;
  color: black;
  line-height:250%;
  font-size: 150%;
  text-decoration: none;
}

img{
  float:left;
  margin-bottom:0px;
}

#nav_menu ul {
  margin: 0;
  padding: 0;
  list-style:none;
  position: relative;
}

#nav_menu ul ul {
  display:none;
  position:absolute;
  top: 100%;
}
#nav_menu  ul li a {
  display: block;
  color:white;
  text-decoration: none;
  text-align: center;
  width: 146px;
  padding: 1em 0;
}
#nav_menu ul li {
  float: left;
  padding-left:10px;
  border: 2px double black;
  list-style-type: none;
  background-color: black;
}

#nav_menu ul li:hover > ul {
  display:block;
}
#nav_menu > ul::after {
  content: "";
  display:block;
  clear:both;
}


#nav_menu ul li a:hover, #nav_menu ul li a:focus{
  background-color: gray;
}


footer {

  text-align: center;

  font-size: 90%;

  border-top: 2px solid black;

  padding: 15px;

  background-image: -webkit-linear-gradient(45deg, black 0%, orange 30%, white 100%);

  background-image: -moz-linear-gradient(45deg, black 0%, orange 30%, white 100%);

  background-image: -o-linear-gradient(45deg, black 0%, orange 30%, white 100%);

  background-image: linear-gradient(45deg, black 0%, orange 30%, white 100%);

}
